<p>products works!</p>
<div class="card">
    <div class="card-head">Lorem ipsum - product1</div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias voluptatum reiciendis fugiat possimus! Nemo, error quasi itaque quo sit nisi quae cum doloremque quidem delectus soluta consequuntur quaerat eaque possimus?
    </div>
</div>

<div class="card">
    <div class="card-head">Lorem ipsum - product2</div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias voluptatum reiciendis fugiat possimus! Nemo, error quasi itaque quo sit nisi quae cum doloremque quidem delectus soluta consequuntur quaerat eaque possimus?
    </div>
</div>